@page "/counter"

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

@* EventBinding : OnClick --> call IncrementCount *@
@* No need to pass paremeters, as they're already part of this page - or class *@
@* As razor pages are compiled into regular C# classes. *@

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
